
<!doctype html>

<html>

   <body>
   <h1 align = "center">Object detection Using ImageNet</h1>
   <br><br><br><br>
      <form action = "/" method = "POST"
         enctype = "multipart/form-data" align = "center">
         <input type = "file" name = "file" />
         <input type = "submit"/>
          <br><br><br><br>
          Image Dimension Specifications <b> O(H x W x C) </b>
          <br><br>
          <a target="_blank" href="https://github.com/himanshugullaiya/Imagenet_Objdetect_Heroku">Github</a>
      </form>
   </body>
</html>